openapi: 3.0.1
servers:
  - description: DuiC Server
    url: https://duic.zhudy.io/api/v1

info:
  description: DuiC 配置中心 API
  version: 1.0.0
  title: DuiC 配置中心 API
  contact:
    email: kevinz@weghst.com
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: apps
    description: APP 配置应用 API
  - name: spring-cloud
    description: spring-cloud 配置 API
paths:
  /apps/states/{name}/{profile}:
    get:
      tags:
        - apps
      description: |
        获取应用状态。
        该接口会立即返回应用当前配置的状态。
      parameters:
        - $ref: '#/components/parameters/AppNamePath'
        - $ref: '#/components/parameters/AppProfilePath'
        - $ref: '#/components/parameters/ConfigTokenHeader'
      responses:
        200:
          description: 正确返回
          content:
            application/json:
              schema:
                type: object
                required:
                  - state
                properties:
                  state:
                    type: string
                    example: "45"
        400:
          description: |
            业务错误码及错误描述
            + `1000` 未找到应用配置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        401:
          description: 认证失败缺少或者错误的 `x-config-token`
  /apps/watches/{name}/{profile}:
    get:
      tags:
        - apps
      description: |
        监控应用配置状态。

        如果服务端当前的配置状态与传入的参数 state 不相同，则服务端会立即响应当前最新的状态给客户端。

        如果服务端当前的配置状态与传入的参数 state 相同，该接口会延迟响应，当服务端配置状态发生变化时会立即响应给客户端。
        服务端延迟最多 30 秒一定会响应客户端 state 状态，响应的 state 可能与传入的参数 state 相同，客户端需要判断当 state 不同时做出相应的动作，
        比如刷新客户端配置信息。
      parameters:
        - $ref: '#/components/parameters/AppNamePath'
        - $ref: '#/components/parameters/AppProfilePath'
        - $ref: '#/components/parameters/ConfigTokenHeader'
        - name: state
          in: query
          schema:
            type: string
          description: 客户端当前的 state 状态值
          required: true
      responses:
        200:
          description: 正确返回
          content:
            application/json:
              schema:
                type: object
                required:
                  - state
                properties:
                  state:
                    type: string
                    example: "45"
        400:
          description: |
            业务错误码及错误描述
            + `1000` 未找到应用配置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        401:
          description: 认证失败缺少或者错误的 `x-config-token`
  /apps/{name}/{profile}:
    get:
      tags:
        - apps
      description: 获取应用 profile 的全部配置
      parameters:
        - $ref: '#/components/parameters/AppNamePath'
        - $ref: '#/components/parameters/AppProfilePath'
        - $ref: '#/components/parameters/ConfigTokenHeader'
      responses:
        200:
          description: 正确返回
          content:
            application/json:
              schema:
                type: object
        400:
          description: |
            业务错误码及错误描述
            + `1000` 未找到应用配置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        401:
          description: 认证失败缺少或者错误的 `x-config-token`
  /apps/{name}/{profile}/{key}:
    get:
      tags:
        - apps
      description: 获取应用 profile 指定键的配置
      parameters:
        - $ref: '#/components/parameters/AppNamePath'
        - $ref: '#/components/parameters/AppProfilePath'
        - $ref: '#/components/parameters/ConfigTokenHeader'
        - in: path
          name: key
          description: 配置键值
          required: true
          schema:
            type: string
      responses:
        200:
          description: 正确返回
          content:
            application/json:
              schema:
                type: object
        400:
          description: |
            业务错误码及错误描述
            + `1000` 未找到应用配置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        401:
          description: 认证失败缺少或者错误的 `x-config-token`
  /ssc/{name}/{profile}:
    get:
      tags:
        - spring-cloud
      description: 返回 spring-cloud-config 配置
      parameters:
        - $ref: '#/components/parameters/AppNamePath'
        - $ref: '#/components/parameters/AppProfilePath'
        - $ref: '#/components/parameters/ConfigTokenHeader'
      responses:
        200:
          description: 正确返回
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpringCloudRes'
        400:
          description: |
            业务错误码及错误描述
            + `1000` 未找到应用配置
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorRes'
        401:
          description: 认证失败缺少或者错误的 `x-config-token`
components:
  parameters:
    AppNamePath:
      in: path
      name: name
      description: 应用名称
      required: true
      schema:
        type: string
    AppProfilePath:
      in: path
      name: profile
      description: 多个 profile 使用英文逗号(,)分隔
      required: true
      schema:
        type: string
    ConfigTokenHeader:
      in: header
      name: x-config-token
      description: 应用配置访问令牌
      schema:
        type: array
        items:
          type: string
  schemas:
    ErrorRes:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          example: 400
        message:
          type: string
          example: error description
    SpringCloudRes:
      type: object
      required:
        - name
        - profiles
        - state
        - propertySources
      properties:
        name:
          type: string
          example: test
        profiles:
          type: array
          items:
            type: string
            example: ["test", "dev"]
        state:
          type: string
        propertySources:
          type: array
          items:
            $ref: '#/components/schemas/PropertySourceRes'
    PropertySourceRes:
      type: object
      required:
        - name
        - source
      properties:
        name:
          type: string
          example: test_dev
        source:
          type: object
