$generic-border-radius = 0px
$button-border-radius  = 0px

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

@import '~quasar-variables-styl'
@import '~quasar-styl'
